{% assign start_year = '2017' %}

{% capture current_year %}{{ 'now' | date: "%Y" }}{% endcapture %}

{% capture year %}
  {% if start_year == current_year %}
    {{ current_year }}
  {% else %}
    {{ start_year }}–{{ current_year }}
  {% endif %}
{% endcapture %}

<footer class="footer text-center">
  &copy; {{ year | strip }} {{ site.author.name }}
  <ul class="horizontal-list space-top-1">
    {% for link in site.data.navigation %}
      <li><a href="{{ link.href }}"><small>{{ link.text }}</small></a></li>
    {% endfor %}
  </ul>
</footer>
