{% assign events = site.events %}

{% if include.type %}
  {% assign events = events | where: 'type', include.type %}
{% endif %}

{% assign events = events | sort: 'date' | reverse %}

<div class="upcoming-events row">
  {% for event in events %}
    <div class="col-xs col-sm-6">
      <div class="upcoming-event">
        <div class="upcoming-event__details">
          <a class="upcoming-event__title subheading-5" href="{{ event.url }}">
            {{ event.title }}
          </a>

          <div class="upcoming-event__time space-2">
            <small><em>{{ event.date | date: "%l:%M %p" }}</em></small><br />
            <small><em>{{ event.location }}</em></small>
          </div>

          <div class="upcoming-event__description">
            {{ event.excerpt }}
          </div>

          <a class="upcoming-event__action btn btn--action" href="{{ event.url }}">
            Get a ticket
          </a>
        </div>
        <div class="upcoming-event__date size-6 font-serif">
          <span class="upcoming-event__date-month">{{ event.date | date: "%b" }}</span>
          <span class="upcoming-event__date-day">{{ event.date | date: "%d" }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
